# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Artifacts & Local caches
artifacts/logs/
artifacts/embeddings/
artifacts/models/
artifacts/test_models/

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
